 /* Estilos generales */
 body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f8f8f8;
}

header {
    background: #0dc706;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav {
    background: #555;
    padding: 1rem 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 3rem 2rem;
    text-align: center;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.menu-category {
    margin: 2rem 0;
}

.menu-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.menu-item {
    width: calc(33% - 2rem);
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.menu-item img {
    width: 100%;
    height: auto;
}

.menu-item h3 {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.menu-item p {
    margin: 0 1rem 1rem;
    font-size: 0.9rem;
    color: #666;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 2rem 0;
}